.homeText{
  font-size: 35px;
  text-align: center;
  color:black;
  top:30px;
  text-shadow: 2px 2px 2px gray;
}

p {
  padding: 5px;
}

p.caption {
  margin: 10px 0px 0px 0px;
}

a {
  color: black;
}

.homeText {
  margin-top: 20px;
}

.add-button {
  text-align: center;
  margin: 45px 0px 0px 0px;
}

.tree-caption, .toy-caption  {
  text-align: center;
  display: grid;
}

.tree-caption {
grid-area: tree-caption;
}

.toy-caption {
  grid-area: toy-caption;
  }


.recomendations {
  display: grid;
  margin: 30px;
  justify-content: center; 
      grid-template-areas:
      "tree-caption"
      "tree-gallery"
      "toy-caption"
      "toy-gallery"; 
}

.toy-gallery, .tree-gallery {
  display: grid;
  margin: 30px;
  justify-content: center;
}
.toy-gallery {
  grid-area: toy-gallery;   
}

.tree-gallery {
  grid-area: tree-gallery;   
}

img {
  object-fit: cover;
  width:200px;
  height:200px;
}

.alert-danger {
  margin: 30px;
  text-align: center;
}

button {
  width: 150px;
  padding: 10px;
  margin: 10px;
}


@media (min-width: 320px) and (max-width: 699px) {
  .toy-gallery, .tree-gallery {
    grid-template-columns: 250px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) and (max-width: 1139px) {
  .toy-gallery, .tree-gallery {
    grid-template-columns: 250px 250px; 
    grid-gap: 30px;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}  

/* @media (min-width: 950px) and (max-width: 1139px) {
  .toy-gallery, .tree-gallery {
    grid-template-columns: 30% 30% 30%;
    grid-gap: 30px;
   }

   nav ul {
     flex-direction: column;
   }
} */

@media (min-width: 1140px) and  (max-width: 1439px) {
  .toy-gallery, .tree-gallery {
    grid-template-columns: 30% 30% 30%;   
    grid-gap: 30px;
   }

   img {
    width:200px;
    height:200px;
  }
}

@media (min-width: 1440px) {
  .toy-gallery, .tree-gallery {
    grid-template-columns: 30% 30% 30%;
    grid-gap: 30px;
   }

   img {
    width:280px;
    height:280px;
  }
}


