<div class="wrapper">
    <p><i><b>Grinch</b></i> - це магазин новорічної продукції за цінами кращих виробників України.</p>
    <br>
    <p>Товари в нашому магазині вироблятьються виключно в Україні на сучасному обладнанні. Продукція виготовлена з екологічно чистих та вогнетривких матеріалів.</p>
    <br>
    <p>Вся продукція сертифікована та відповідає стандартам.</p>
    <br>    
    <p><b>Ми спеціалізуємось на таких типах товару:</b></p>
    <br>
    <p>- Штучні ялинки</p>
    <br>
    <p>- Іграшки на ялинку</p>
    <br>
    <p>- Новорічний декор з хвої</p>
    <br>
    <p>- Новорічні фігури ручної роботи</p>
    <br>
    <p><b>Штучні ялинки та новорічний декор</b></p>
    <br>
    <p>Ми є офіційним дистребютором штучних ялинок оного з найбільших заводів штучних ялинок в Україні.</p>
    <br>
    <p>Ялинки ексклюзивні, такого типу ялинки важко знайти навіть в європейських магазинах. Ялинки виготовленні з екоголічної сировини, яка не має запаху та вогнетривка. Також виробник виготовляє: Новорічні віночки, гірлянди з хвої, підсвічники, тощо…
    </p>
    <br>
    <p><b>Іграшки на ялинку</b></p>
    <br>
    <p>Ми продаємо іграшки на ялинку власного виробництва. Іграшки виготовленні з епоксидної смоли та фанери. Іграшки без запаху та стійкі до розбиття. Такі іграшки є екслюзивом в нашому регійні та й в європейських країнах рідко таке можна знайти.
    </p>
    <br>
    <p>Зробіть свою ялинку ексклюзивною з нашими іграшками!</p>
</div>