<div class="wrapper">
    <p><i><b>Шановні покупці!</b></i></p>
    <p><b>Замовити товар у нашому магазині ви можете декількома способами:</b></p>
    <p>- Через сайт, вибравши товар та його розмір, добавити його в корзину та оформити замовлення в корзині. Далі з Вами зв’яжеться менеджер для підтвердження замовлення.</p>
    <p>- За допомогою моб. телефону. Виберіть товар на сайті та зателефонуйте Нам за номером: +380983839980 . В розмові ми уточнимо спосіб  оплати та доставки.</p>
    <p>- За допомогою E-mail. Виберіть товар на сайті, та напишіть Нам на електронну пошту grinch.in.ua@ukr.net, вказавши назву товару, його розмір та колір, а також спосіб оплати та доставки.</p>
    <br>
    <p>Доставка товару по Україні здійснюється Новою поштою або Укрпоштою, за умови мінімальної передоплати в розмірі доставки, або повної передоплати.</p>
    <p>Якщо товару немає в наявності термін виготовлення 3-5 робочих днів.</p>
    <p>Для оптових покупців можемо домовитись про інші способи доставки та оплати.</p>   
    <br>
    <p><b>Співпраця:</b></p>
    <p>Ми відкриті для співпраці.</p>
    <p>Готові вислухати ваші пропозиції за телефоном <b>+380983839980</b> та E-mail <b>grinch.in.ua@ukr.net</b>.</p>
</div>






