.card {
    background-color: none;
    display: grid;
    border: none;
    margin: 20px 50px;
    padding: 20px;
    background-color: #edf0f3b8;
    border-radius: 10px;
}

.register-button, label, p {
    font-size: larger;
}

p {
    padding: 15px;
}