<div class="card">
  <div class="card-body">
    <h1 class="card-title">Змінити пароль</h1>

    <div *ngIf="showError" class="alert alert-danger" role="alert">
      <span [innerHTML]="errorMessage"></span>
      <div *ngIf="!sendLetter">
        <a [routerLink]="['/authentication/forgotpassword']"> Натисніть сюди, щоб надіслати повідомлення на ваш email. </a>
      </div>
    </div>
    <div *ngIf='!isUserAuthenticated'>
      <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        Ваш пароль змінено. Будь ласка, <a [routerLink]="['/authentication/login']"> натисніть сюди, щоб ввійти</a>.
      </div>
    </div>
    


    <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
      <div class="form-group row">
        <label for="password" class="col-form-label col-sm-2">Пароль:</label>
        <div class="col-md-5">
          <input type="password" id="password" formControlName="password" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('password') && hasError('password', 'required')">Пароль є обов'язковим полем</em>
        </div>
      </div>
      <div class="form-group row">
        <label for="confirm" class="col-form-label col-sm-2">Підвердження паролю:</label>
        <div class="col-md-5">
          <input type="password" id="confirm" formControlName="confirm" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Підвердження паролю є обов'язковим полем</em>
          <em *ngIf="hasError('confirm', 'mustMatch')">Паролі повинні бути однаковими</em>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <div class="col-md-1">
          <button type="submit" class="btn btn-secondary btn-lg" [disabled]="!resetPasswordForm.valid">Змінити</button>
        </div>
      </div>
    </form>
  </div>
</div>
