<div class="footer">
    <div class="logotype" >
      <img class="logo" src="../../assets/images/logo.png" alt="logo"/>
    </div>
    <div class="text">  
      <a class="nav-link a-with-angle"[routerLink]="['/about-payment']" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"><p>Оплата і доставка</p></a>
      <a class="nav-link a-with-angle"[routerLink]="['/about-company']" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"><p>Про компанію</p></a>
    </div>
    <div class="phone">
        <p>+38 (098) 3839980 </p> 
        <p>grinch.in.ua@ukr.net</p>
        <a style="text-decoration: none;" class="a-icon" target="_blank" href="https://www.facebook.com/Grinchinua-106332011776332/"><img class="icon" src="../../assets/images/facebook.png" alt="fb"/></a>
        <a style="text-decoration: none;" class="a-icon" target="_blank" href="http://Insragram.com/grinch.in.ua"><img class="icon" src="../../assets/images/instagram.jpg" alt="fb"/></a>
    </div>
  </div>
  