.card {
    background-color: none;
    display: grid;
    border: none;
    margin: 20px 50px;
    padding: 20px;    
    width: fit-content;
    justify-items: center;
    align-items: center;
    background-color: #edf0f3b8;
    border-radius: 10px;
}

.register-button, label {
    font-size: larger;
}