  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Назва</th>
            <th>Опис</th>
            <th>Ціна</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{toy.name}}</td>
            <td>{{toy.description}}</td>
            <td>{{toy.price}}</td>
            <td>
                <button (click)="orderToy(toy.id)">Замовити</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  